img {
  max-height: 500px;
  max-width: 350%;
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Allinea le card in alto */
}

.card-left, .card-right {
  width: 50%; /* Dividi lo spazio in due per entrambe le card */
  margin-right: 10px; /* Aggiungi spazio tra le card */
}

.card-right {
  margin-right: 0; /* Rimuovi il margine dalla seconda card */
}

.fadeIn {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}