<div class="container mt-4">
  <button [routerLink]="['/harry-potter/wizard-list']" class="btn btn-primary mb-3">Back to Wizards</button>

  <h2 class="mb-4 text-center" style="color: #6c757d; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);">Elixir List</h2>

  <ul *ngIf="wizard && wizard.elixirs" class="list-group mt-3" style="background-color: #343a40; color: #fff;">
    <li *ngFor="let elixir of wizard.elixirs" class="list-group-item d-flex align-items-center" style="border-color: #454d55; border-radius: 0.25rem; margin-bottom: 0.5rem;">
    <img src="assets/istockphoto-1166983975-612x612.jpg" alt="{{ elixir.name }}" class="img-fluid me-3" style="max-width: 50px; border-radius: 50%;" />
    <div>
    <h5 class="mb-0" style="color: #49ac35; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);">{{ elixir.name }}</h5>
    <button [routerLink]="['elixirs', elixir?.id]" class="btn btn-sm btn-primary">Details</button>

    </div>
    </li>
  </ul>
</div>
