
  <div class="grid grid-nogutter surface-section text-800">
      <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
          <section>
              <span class="block text-6xl font-bold mb-1">Web Developer</span>
              <div class="text-6xl text-primary font-bold mb-3">Portfolio</div>
              <div class="text-6xl text-primary font-bold mb-3">Curriculum</div>
          </section>
      </div>
      <div class="col-12 md:col-6 overflow-hidden">
          <img src="assets/computer-screen-laptop-office-workspace-with-color-palettes_23-2148821934.jpg" alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
      </div>
  </div>
